YGGDRASIL_CONFIG_HOST="0.0.0.0"
YGGDRASIL_CONFIG_PORT=8008
YGGDRASIL_CONFIG_HTTPS_CERT="/path/to/cert.pem"
YGGDRASIL_CONFIG_HTTPS_KEY="/path/to/key.pem"
YGGDRASIL_CONFIG_SERVER_INFO_NAME="Ciallo~(∠・ω< )⌒☆"
