LISARDGGY_CONFIG_HOST="0.0.0.0"
LISARDGGY_CONFIG_PORT=8008
LISARDGGY_CONFIG_HTTPS_CERT="/path/to/cert.pem"
LISARDGGY_CONFIG_HTTPS_KEY="/path/to/key.pem"
LISARDGGY_CONFIG_SERVER_INFO_NAME="Ciallo~(∠・ω< )⌒☆"
